@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

/* Global font settings */
:root {
  font-family: "DM Sans", "General Sans", system-ui, -apple-system, "Segoe UI",
    Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --font-general-sans: "GeneralSans", sans-serif;
}

/* Optional class in case arbitrary property is stripped */
.animate-spotlight {
  animation: var(--animate-spotlight);
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-VariableItalic.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

html,
body,
#root {
  font-family: inherit;
  font-family: var(--font-general-sans);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
